{% extends "base.html" %}
{% block body %}
<ul class="topnav">
        <li><img src="{{ url_for("static", filename="img/logo.png") }}" width="45px" alt=""></li>
        {% for item in data.nav_items %}

            {% if item == "Inicio" %}
                <li><a class="" href="/">{{ item }}</a></li>
            {% else %}
                {% if item == "Matrícula" %}
                    <li><a href={{ url_for("matricula") }}>{{ item }}</a></li>
                {% else %}
                    <li><a href="">{{ item }}</a></li>
                {% endif %}
            {% endif %}

        {% endfor %}
</ul>


{% endblock %}